In [1]:
#!pip install haversine

In [2]:
import pandas as pd
from haversine import haversine
import warnings
warnings.filterwarnings("ignore")

# 거리측정 함수

In [3]:
# 좌표끼리 거리 계산
def distance(df1, df2):
    df_new = []
    for i in range(len(df1)):
        start = (float(df1['위도'][i]), float(df1['경도'][i]))
        end = (float(df2['위도'].values), float(df2['경도'].values))
        dist = haversine(start, end, unit='m')
        df_new.append(dist)
    return(df_new)

# 더미화 및 500m 반경 안에 있는 합계 near_500에 저장
def change_num10(df1, df2):
    for i in range(len(df1)):
        for j in range(1,len(df2)+1):
            if df1.iloc[i,j] < 500:
                df1.iloc[i,j] = 1
            else:
                df1.iloc[i,j] = 0
    df1['near_500'] = df1.sum(axis=1)
    return(df1)

# 교통접근성 지수

## 강서구

In [4]:
gs_park = pd.read_csv('C:/Users/lkkcl/ewha/공공빅데이터_인턴/4. 실무형 프로젝트/서울2 6조/data/입지선정/면적/강서구면적_700이상.csv', encoding='cp949')
gs_train = pd.read_csv('C:/Users/lkkcl/ewha/공공빅데이터_인턴/4. 실무형 프로젝트/서울2 6조/data/입지선정/교통접근성/강서구지하철.csv')
gs_bus = pd.read_csv('C:/Users/lkkcl/ewha/공공빅데이터_인턴/4. 실무형 프로젝트/서울2 6조/data/입지선정/교통접근성/강서구_정류장.csv', encoding='cp949')

### 지하철역

In [5]:
gs_train['지하철역'] = gs_train['호선'] + '_' + gs_train['지하철역이름']

In [6]:
df_gs_train = pd.DataFrame(columns=['Name'])
df_gs_train['Name'] = gs_park['공원이름']

for i in gs_train['지하철역'].values:
    df_gs_train[i] = distance(gs_park, gs_train[gs_train['지하철역']==i])
    
df_gs_train

,Name,05호선_발산,05호선_우장산,05호선_화곡,05호선_까치산,05호선_김포공항,05호선_송정,05호선_방화,09호선_양천향교,09호선_김포공항,09호선_가양,공항철도_마곡나루,09호선_염창,09호선_개화,09호선_신방화,09호선_증미,02호선_까치산
0,이 수,3436.314861,3356.811963,3082.941234,3052.337974,6654.416229,5687.562217,6331.009123,3675.880593,6654.416229,2286.892622,4491.494840,150.932152,7520.928213,5527.695009,1498.403666,3052.337974
1,백 합1,2922.065188,2932.035539,2769.461277,2942.222980,6158.202000,5188.340203,5792.232344,3134.499647,6158.202000,1746.625381,3956.208389,669.966131,6987.738886,5002.832482,962.339116,2942.222980
2,아리수,3280.579203,3329.342353,3161.885369,3274.717934,6527.475466,5556.221838,6096.460984,3409.677370,6527.475466,2016.650840,4276.402364,550.443251,7309.719714,5343.330648,1222.633115,3274.717934
3,등 서,1505.116586,1994.276779,2333.765325,3130.891888,4744.322103,3775.040091,4220.513099,1561.226203,4744.322103,245.567069,2401.056697,2241.695687,5433.432157,3486.043491,666.229503,3130.891888
4,백 석,2369.208765,2428.283863,2369.634319,2744.159813,5607.726739,4637.314343,5256.166126,2625.311157,5607.726739,1261.486877,3413.542134,1189.249335,6442.359531,4451.889733,554.206763,2744.159813
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,마곡지구6,1424.725059,2029.648153,2902.203021,4112.515874,1914.733510,983.510763,1782.741136,1726.102794,1914.733510,2805.553692,732.074367,4954.937492,2741.174940,701.999507,3521.411254,4112.515874
101,마곡지구1,1092.935342,1218.709891,2054.097969,3251.244857,2297.658112,1352.779797,2661.845541,1955.841841,2297.658112,2603.110093,1319.125903,4444.869654,3511.069821,1529.843932,3193.455270,3251.244857
102,마곡지구2,2577.600577,1842.099170,2048.168384,2835.142730,2681.505665,2181.589470,3959.776365,3620.356909,2681.505665,3925.128616,3015.911711,5114.410795,4403.157889,2838.044842,4296.109975,2835.142730
103,등촌동,2059.531030,1918.842712,1791.165434,2218.185195,5224.777445,4263.361376,5056.826257,2560.078558,5224.777445,1353.383086,3201.011385,1514.328726,6189.905039,4165.286942,936.616386,2218.185195
104,방화동,2139.729881,2683.887373,3533.302450,4728.855486,1340.199135,649.688687,1257.815309,2293.138420,1340.199135,3482.389231,1243.635249,5669.126201,2045.289337,167.387660,4217.082079,4728.855486

In [7]:
change_num10(df_gs_train, gs_train)

,Name,05호선_발산,05호선_우장산,05호선_화곡,05호선_까치산,05호선_김포공항,05호선_송정,05호선_방화,09호선_양천향교,09호선_김포공항,09호선_가양,공항철도_마곡나루,09호선_염창,09호선_개화,09호선_신방화,09호선_증미,02호선_까치산,near_200
0,이 수,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,백 합1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,아리수,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,등 서,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,백 석,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,마곡지구6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101,마곡지구1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
102,마곡지구2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
103,등촌동,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
104,방화동,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [8]:
#df_gs_train[df_gs_train['near_500']==1]

In [9]:
# for i in range(len(df_gs_train)):
#     for j in range(1,len(gs_train)+1):
#         if df_gs_train.iloc[i,j] < 2:
#             df_gs_train.iloc[i,j] = 1
#         else:
#             df_gs_train.iloc[i,j] = 0
# df_gs_train.head()

### 버스정류장

In [10]:
gs_bus.drop(['Unnamed: 0'], axis=1, inplace=True)

In [11]:
df_gs_bus = pd.DataFrame(columns=['Name'])
df_gs_bus['Name'] = gs_park['공원이름']

for i in gs_bus['정류소'].values:
    df_gs_bus[i] = distance(gs_park, gs_bus[gs_bus['정류소']==i])
    
df_gs_bus

,Name,신월동기점-1,염창역.서울도시가스-1,등촌역.강서보건소-1,등촌중학교 백석초등학교-1,등촌중학교 백석초등학교-2,강서구청사거리.서울디지털대학교-1,강서구청사거리.서울디지털대학교-2,KBS스포츠월드-1,KBS스포츠월드-2,...,등촌주공8단지-1,대한항공화물청사-1,대한항공훈련센터-1,김포공항화물청사-1,김포공항세관.국립항공박물관-1,강원슈퍼-2,대한항공빌딩-1,대한항공-4,김포공항국제선-5,대한항공훈련센터-2
0,이 수,3771.089417,183.837359,511.869751,1232.926164,1326.580387,1793.755525,1952.192178,2305.507325,2418.652143,...,2466.057846,5389.065715,5401.528460,5589.156710,5885.425165,2083.354406,5279.565507,5102.121803,6735.102405,5480.056435
1,백 합1,3614.775466,724.078343,242.569757,716.179506,810.052841,1269.939110,1429.384077,1780.343971,1894.456353,...,1924.625163,4940.553164,4990.221659,5129.388774,5413.752782,2050.660895,4836.367959,4666.962703,6230.735462,5071.380923
2,아리수,3966.810345,556.090294,555.067950,1091.887390,1183.781338,1627.676723,1786.551575,2130.894361,2245.571559,...,2208.297609,5331.994390,5388.090248,5517.382671,5797.076952,2343.869743,5229.179375,5061.561043,6593.615674,5469.475209
3,등 서,3565.885282,2300.910830,1670.128158,946.986205,869.666931,496.385996,443.627747,466.181315,545.139961,...,357.270647,3739.913335,3934.388584,3877.494626,4107.192901,2638.662754,3661.002976,3531.204234,4785.103480,4022.173353
4,백 석,3352.866230,1254.990167,605.861715,167.777887,259.591959,717.655400,876.954605,1228.884103,1342.687823,...,1420.575637,4412.633388,4486.740779,4594.769498,4872.801660,1976.854257,4311.877114,4147.971687,5678.555701,4569.550809
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,마곡지구6,3992.599092,5028.552852,4357.429752,3628.760321,3534.726370,3071.617229,2912.145534,2562.634234,2448.105052,...,2598.466470,1561.782572,2092.034987,1501.795620,1529.348086,4336.554562,1590.634263,1640.330777,1930.005960,2164.741074
101,마곡지구1,3101.453644,4524.670593,3857.666916,3174.331470,3082.027569,2651.373593,2497.381023,2182.550185,2073.036881,...,2411.854813,1188.865820,1536.893079,1299.110528,1537.458759,3562.497622,1137.017983,1069.563561,2407.482030,1623.497674
102,마곡지구2,2309.489187,5200.831830,4600.812169,4079.584029,4002.222476,3686.508070,3565.514605,3354.875088,3272.596665,...,3772.244932,1115.145224,595.946028,1376.592860,1728.145097,3579.948972,998.889088,845.711249,2915.637687,612.559892
103,등촌동,2792.748664,1595.333879,937.179854,457.334377,426.829927,616.772829,721.936959,1033.988792,1129.355728,...,1443.346969,3943.127072,3974.390636,4142.125630,4440.104369,1562.577401,3834.946674,3660.382606,5316.171117,4054.991809
104,방화동,4537.900624,5742.285874,5071.534805,4340.737537,4246.783237,3782.241684,3622.913048,3271.918140,3157.653109,...,3274.935127,1651.951500,2238.070939,1475.559451,1323.945389,5016.204311,1735.349490,1863.856623,1292.642085,2290.902026

In [12]:
change_num10(df_gs_bus, gs_bus)

,Name,신월동기점-1,염창역.서울도시가스-1,등촌역.강서보건소-1,등촌중학교 백석초등학교-1,등촌중학교 백석초등학교-2,강서구청사거리.서울디지털대학교-1,강서구청사거리.서울디지털대학교-2,KBS스포츠월드-1,KBS스포츠월드-2,...,대한항공화물청사-1,대한항공훈련센터-1,김포공항화물청사-1,김포공항세관.국립항공박물관-1,강원슈퍼-2,대한항공빌딩-1,대한항공-4,김포공항국제선-5,대한항공훈련센터-2,near_200
0,이 수,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0
1,백 합1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0
2,아리수,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0
3,등 서,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
4,백 석,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,마곡지구6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0
101,마곡지구1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0
102,마곡지구2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
103,등촌동,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
104,방화동,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0

## 송파구

In [13]:
sp_park = pd.read_csv('C:/Users/lkkcl/ewha/공공빅데이터_인턴/4. 실무형 프로젝트/서울2 6조/data/입지선정/면적/송파구면적_700이상.csv', encoding='cp949')
sp_train = pd.read_csv('C:/Users/lkkcl/ewha/공공빅데이터_인턴/4. 실무형 프로젝트/서울2 6조/data/입지선정/교통접근성/송파구지하철.csv')
sp_bus = pd.read_csv('C:/Users/lkkcl/ewha/공공빅데이터_인턴/4. 실무형 프로젝트/서울2 6조/data/입지선정/교통접근성/송파구_정류장.csv', encoding='cp949')

### 지하철역

In [14]:
sp_train['지하철역'] = sp_train['호선'] + '_' + sp_train['지하철역이름']

In [15]:
df_sp_train = pd.DataFrame(columns=['Name'])
df_sp_train['Name'] = sp_park['공원이름']

for i in sp_train['지하철역'].values:
    df_sp_train[i] = distance(sp_park, sp_train[sp_train['지하철역']==i])
    
df_sp_train

,Name,02호선_잠실나루,02호선_잠실,02호선_잠실새내,02호선_종합운동장,03호선_가락시장,03호선_경찰병원,03호선_오금,05호선_올림픽공원,05호선_방이,...,08호선_장지,08호선_복정,09호선_종합운동장,09호선_삼전,09호선_석촌고분,09호선_석촌,09호선_송파나루,09호선_한성백제,09호선_올림픽공원,분당선_복정
0,송파나루,29187.134411,28821.723223,27394.692670,26321.558178,29575.331385,30200.144970,30666.318706,31304.527479,30684.687328,...,29981.031671,29885.412861,26321.558178,6.825206e+06,6.825892e+06,28954.586897,6.827009e+06,6.827596e+06,31304.527479,29885.412861
1,잠 실,2369.454326,1812.823846,637.033514,1071.580854,3367.477366,3740.081758,3902.246256,4262.134357,3713.853637,...,4804.529389,5495.745334,1071.580854,6.801717e+06,6.802398e+06,2014.154961,6.803513e+06,6.804099e+06,4262.134357,5495.745334
2,삼 전1,2228.769248,1507.776205,1136.554412,1898.284339,2540.184090,2926.762285,3140.785641,3689.657513,3041.025670,...,4000.487578,4726.196414,1898.284339,6.801484e+06,6.802164e+06,1309.068925,6.803279e+06,6.803865e+06,3689.657513,4726.196414
3,송 파,731.395890,390.447565,1830.183206,2933.334421,2655.165827,2606.630002,2344.508602,2145.695923,1835.487892,...,4344.044823,5254.963465,2933.334421,6.799681e+06,6.800361e+06,1013.847172,6.801476e+06,6.802062e+06,2145.695923,5254.963465
4,방 이,1131.117260,1023.638706,2458.580949,3564.445711,2463.561989,2261.964158,1854.554077,1512.878589,1248.273130,...,4116.454161,5060.143520,3564.445711,6.799254e+06,6.799934e+06,1165.882161,6.801049e+06,6.801634e+06,1512.878589,5060.143520
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,거여1(거마재정비),4562.690724,4280.449662,5495.714601,6534.969004,2432.404277,1839.331579,1655.579422,2542.040510,2195.765734,...,2590.785339,3357.761412,6534.969004,6.798794e+06,6.799474e+06,3535.467097,6.800588e+06,6.801173e+06,2542.040510,3357.761412
133,백제초기적석총,2106.128499,1350.588627,1828.752214,2762.465836,1713.263231,2031.761731,2238.487843,2943.488800,2207.313179,...,3298.968911,4114.610031,2762.465836,6.800942e+06,6.801623e+06,549.488925,6.802737e+06,6.803323e+06,2943.488800,4114.610031
134,방이동고분,1910.820125,1558.774165,2854.008405,3942.002531,1706.879544,1443.521861,1083.431453,1444.014122,711.836693,...,3319.977932,4272.360621,3942.002531,6.799517e+06,6.800197e+06,1022.854813,6.801312e+06,6.801897e+06,1444.014122,4272.360621
135,성내천,5476.259507,5235.270219,6470.437731,7512.159317,3350.652981,2794.628592,2624.553199,3295.716583,3105.200414,...,3159.545470,3744.850649,7512.159317,6.798307e+06,6.798986e+06,4511.687349,6.800100e+06,6.800685e+06,3295.716583,3744.850649
136,올림픽공원,1082.782118,1447.887254,2831.922439,3902.284921,3168.586413,2883.782719,2345.391761,1412.612127,1612.933070,...,4783.567757,5738.588678,3902.284921,6.798588e+06,6.799269e+06,1904.191813,6.800384e+06,6.800969e+06,1412.612127,5738.588678

In [16]:
change_num10(df_sp_train, sp_train)

,Name,02호선_잠실나루,02호선_잠실,02호선_잠실새내,02호선_종합운동장,03호선_가락시장,03호선_경찰병원,03호선_오금,05호선_올림픽공원,05호선_방이,...,08호선_복정,09호선_종합운동장,09호선_삼전,09호선_석촌고분,09호선_석촌,09호선_송파나루,09호선_한성백제,09호선_올림픽공원,분당선_복정,near_200
0,송파나루,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,잠 실,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,삼 전1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,송 파,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
4,방 이,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,거여1(거마재정비),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
133,백제초기적석총,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
134,방이동고분,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
135,성내천,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
136,올림픽공원,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 버스정류장

In [17]:
sp_bus.drop(['Unnamed: 0'], axis=1, inplace=True)

In [18]:
df_sp_bus = pd.DataFrame(columns=['Name'])
df_sp_bus['Name'] = sp_park['공원이름']

for i in sp_bus['정류소'].values:
    df_sp_bus[i] = distance(sp_park, sp_bus[sp_bus['정류소']==i])
    
df_sp_bus

,Name,잠실역.잠실대교.남단-1,잠실역.잠실대교.남단-2,석촌호수.한솔병원-1,석촌호수.한솔병원-2,석촌역-1,석촌역-2,송파역-1,송파역-2,가락시장.가락시장역-1,...,장미광장-1,한성백제박물관-2,올림픽공원평화의문-1,롯데월드-1,잠실종합운동장-3,오륜초등학교.올림픽선수촌아파트-1,송파레미니스아파트-1,송파레미니스아파트-2,오금대림아파트.오금초등학교-1,잠실역-3
0,송파나루,28557.769037,28587.024993,28891.490355,28852.635331,29054.983188,29015.892636,29222.844907,29172.993691,29528.094174,...,30859.233566,30321.838291,29986.556855,28327.786644,26480.962447,31303.623511,31581.821797,31608.510733,31251.469691,28573.577771
1,잠 실,1634.112180,1592.467363,1906.532316,1857.953789,2201.273169,2150.890310,2531.216569,2462.524209,3193.124848,...,3835.750165,3278.299602,2962.008285,1323.784432,967.878082,4330.826949,4665.279407,4682.280745,4278.955589,1623.244667
2,삼 전1,1510.692848,1359.192868,1249.423698,1215.678001,1443.648827,1397.787118,1730.118258,1663.926872,2367.180215,...,3218.805635,2756.737544,2521.908821,1134.457310,1788.749632,3661.315086,3964.567971,3986.392877,3609.089258,1463.383171
3,송 파,727.054786,628.638635,868.052573,839.755482,1259.140372,1227.096683,1658.969953,1606.263506,2427.674337,...,1809.817874,1142.646908,778.482993,881.126492,2775.616588,2387.380133,2785.686765,2787.446268,2339.980118,682.168311
4,방 이,1362.069806,1261.271540,1107.283080,1114.791245,1302.791829,1295.659490,1586.255526,1556.627021,2244.900998,...,1177.616286,511.531665,293.392042,1501.811551,3407.471995,1765.335748,2172.896063,2171.139378,1719.615846,1319.680496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,거여1(거마재정비),4658.081413,4478.257656,3682.070827,3740.481132,3314.802904,3366.827829,2988.839929,3054.784929,2498.703423,...,2416.289364,3104.763629,3528.312120,4625.239650,6398.131505,1863.821644,1473.136232,1508.097026,1885.335783,4594.488486
133,백제초기적석총,1572.767142,1348.084906,612.206979,624.124122,567.340425,531.493583,823.604774,756.285443,1517.094053,...,2437.942049,2105.412020,1991.394572,1277.704060,2638.304349,2821.008852,3096.003030,3121.302821,2769.124910,1500.051865
134,방이동고분,1936.204040,1762.916391,1100.059371,1146.709437,960.910345,989.002985,1016.371725,1020.536216,1502.214485,...,923.832862,832.007550,1043.239654,1932.334186,3793.700035,1332.056869,1663.227721,1678.606422,1279.871610,1873.741122
135,성내천,5612.374414,5438.292559,4656.692964,4714.797844,4292.088461,4344.105120,3962.984194,4029.521669,3439.169006,...,3271.942086,3987.053894,4422.752054,5592.448087,7375.092803,2682.077034,2261.339074,2282.949122,2714.060854,5550.513882
136,올림픽공원,1666.548775,1666.829241,1821.634119,1817.884454,2057.645160,2048.576237,2336.487862,2309.722315,2957.193918,...,1351.417638,702.200386,464.055015,1935.120763,3742.753954,1934.867873,2357.309312,2339.351975,1902.794195,1656.700952

In [19]:
change_num10(df_sp_bus, sp_bus)

,Name,잠실역.잠실대교.남단-1,잠실역.잠실대교.남단-2,석촌호수.한솔병원-1,석촌호수.한솔병원-2,석촌역-1,석촌역-2,송파역-1,송파역-2,가락시장.가락시장역-1,...,한성백제박물관-2,올림픽공원평화의문-1,롯데월드-1,잠실종합운동장-3,오륜초등학교.올림픽선수촌아파트-1,송파레미니스아파트-1,송파레미니스아파트-2,오금대림아파트.오금초등학교-1,잠실역-3,near_200
0,송파나루,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,잠 실,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0
2,삼 전1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0
3,송 파,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0
4,방 이,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,거여1(거마재정비),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0
133,백제초기적석총,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0
134,방이동고분,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0
135,성내천,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0
136,올림픽공원,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0

### 교통접근성 지수 변수들 나열

In [20]:
df_gs_train = df_gs_train[['Name', 'near_500']]
df_gs_bus = df_gs_bus[['Name', 'near_500']]
df_sp_train = df_sp_train[['Name', 'near_500']]
df_sp_bus = df_sp_bus[['Name', 'near_500']]

In [21]:
gangseo = pd.merge(df_gs_train, df_gs_bus, how='inner', on='Name')
gangseo.columns = ['공원이름', '지하철역수', '버스정류장수']
gangseo

      공원이름  지하철역수  버스정류장수
0      이 수    1.0    12.0
1     백 합1    0.0    16.0
2      아리수    0.0    19.0
3      등 서    1.0    25.0
4      백 석    0.0    13.0
..     ...    ...     ...
100  마곡지구6    0.0    22.0
101  마곡지구1    0.0    24.0
102  마곡지구2    0.0     2.0
103    등촌동    0.0     5.0
104    방화동    1.0    21.0

[105 rows x 3 columns]

In [22]:
songpa = pd.merge(df_sp_train, df_sp_bus, how='inner', on='Name')
songpa.columns = ['공원이름', '지하철역수', '버스정류장수']
songpa

           공원이름  지하철역수  버스정류장수
0          송파나루    0.0     0.0
1           잠 실    0.0    12.0
2          삼 전1    0.0    13.0
3           송 파    2.0    11.0
4           방 이    1.0    14.0
..          ...    ...     ...
132  거여1(거마재정비)    1.0    18.0
133     백제초기적석총    0.0     8.0
134       방이동고분    0.0    11.0
135         성내천    1.0    18.0
136       올림픽공원    0.0    10.0

[137 rows x 3 columns]

In [23]:
# # 중복 공원명 변경... 찾기만 하고 변경은 임의로^^
# park_gs = traffic_gs['park']
# park_gs[park_gs.duplicated(keep='last')]
# park_sp = traffic_sp['park']
# park_sp[park_sp.duplicated(keep='last')]

# 유동인구 지수

In [24]:
gs_pop = pd.read_csv('C:/Users/lkkcl/ewha/공공빅데이터_인턴/4. 실무형 프로젝트/서울2 6조/data/입지선정/유동인구/강서구_동별유동인구.csv', encoding='cp949')
sp_pop = pd.read_csv('C:/Users/lkkcl/ewha/공공빅데이터_인턴/4. 실무형 프로젝트/서울2 6조/data/입지선정/유동인구/송파구_동별유동인구.csv', encoding='cp949')

gs_park_dong = pd.read_csv('C:/Users/lkkcl/ewha/공공빅데이터_인턴/4. 실무형 프로젝트/서울2 6조/data/입지선정/유동인구/강서구_공원_행정동.csv', encoding='cp949')
sp_park_dong = pd.read_csv('C:/Users/lkkcl/ewha/공공빅데이터_인턴/4. 실무형 프로젝트/서울2 6조/data/입지선정/유동인구/송파구_공원_행정동.csv', encoding='cp949')

In [25]:
gs_pop['유동인구비율'] = gs_pop['인구']/sum(gs_pop['인구'])
sp_pop['유동인구비율'] = sp_pop['인구']/sum(sp_pop['인구'])

### 각 공원의 행정동명 변수 추가

In [26]:
def park_dong(df):
    df['행정동명'] = 0
    for i in range(len(df)):
        df['행정동명'][i] = df['ADDRESS'].str.split()[i][2]
    
park_dong(gs_park_dong)
park_dong(sp_park_dong)

In [27]:
gs_park_dong.head(2)

   Unnamed: 0  공원이름          경도         위도        ADDRESS        CODE 행정동명
0           0   이 수  126.874388  37.548227  서울특별시 강서구 염창동  1150010100  염창동
1           1  백 합1  126.869445  37.551117  서울특별시 강서구 염창동  1150010100  염창동

## 강서구

In [28]:
gs_park_dong = pd.merge(gs_park_dong, gs_pop, how='inner', on='행정동명')
gs_park_dong = gs_park_dong[['공원이름', '행정동명', '유동인구비율']]

In [29]:
gangseo = pd.merge(gangseo, gs_park_dong, how='inner', on='공원이름')
gangseo.drop(['행정동명'], axis=1, inplace=True)
gangseo

      공원이름  지하철역수  버스정류장수    유동인구비율
0      이 수    1.0    12.0  0.065089
1     백 합1    0.0    16.0  0.065089
2      아리수    0.0    19.0  0.065089
3      등 서    1.0    25.0  0.118500
4      백 석    0.0    13.0  0.118500
..     ...    ...     ...       ...
100  마곡지구6    0.0    22.0  0.087099
101  마곡지구1    0.0    24.0  0.087099
102  마곡지구2    0.0     2.0  0.023281
103    등촌동    0.0     5.0  0.118500
104    방화동    1.0    21.0  0.135803

[105 rows x 4 columns]

## 송파구

In [30]:
sp_park_dong = pd.merge(sp_park_dong, sp_pop, how='inner', on='행정동명')
sp_park_dong = sp_park_dong[['공원이름', '행정동명', '유동인구비율']]

In [31]:
songpa = pd.merge(songpa, sp_park_dong, how='inner', on='공원이름')
songpa.drop(['행정동명'], axis=1, inplace=True)
songpa

           공원이름  지하철역수  버스정류장수    유동인구비율
0          송파나루    0.0     0.0  0.123932
1           잠 실    0.0    12.0  0.194369
2          삼 전1    0.0    13.0  0.025984
3           송 파    2.0    11.0  0.123932
4           방 이    1.0    14.0  0.112423
..          ...    ...     ...       ...
132  거여1(거마재정비)    1.0    18.0  0.031155
133     백제초기적석총    0.0     8.0  0.043351
134       방이동고분    0.0    11.0  0.112423
135         성내천    1.0    18.0  0.023030
136       올림픽공원    0.0    10.0  0.112423

[137 rows x 4 columns]

# 주변시설물지수

In [37]:
gs_soc = pd.read_csv('C:/Users/lkkcl/ewha/공공빅데이터_인턴/4. 실무형 프로젝트/서울2 6조/data/입지선정/주변시설물/gs_soc.csv', encoding='cp949')
sp_soc = pd.read_csv('C:/Users/lkkcl/ewha/공공빅데이터_인턴/4. 실무형 프로젝트/서울2 6조/data/입지선정/주변시설물/sp_soc.csv', encoding='cp949')

In [38]:
gs_soc.columns = ['공원이름', '복지시설', '의료기관', '도서관']
sp_soc.columns = ['공원이름', '복지시설', '의료기관', '도서관']

In [41]:
gangseo = pd.merge(gangseo, gs_soc, how='inner', on='공원이름')
songpa = pd.merge(songpa, sp_soc, how='inner', on='공원이름')

### 정규화

In [44]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(gangseo)
gangseo_scaled = scaler.transform(gangseo)
gangseo_scaled_df = pd.DataFrame(data=gangseo_scaled, columns= gangseo.feature_names)

ValueError: could not convert string to float: '이 수'